@model SSH_FrontEnd.Models.DTOs.EventDTO
<form asp-action="CreateEvent">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Event</h1>
        <hr/>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
            <label asp-for="EventName" class="control-label pt-2" style=" font-size:20px;"></label>
            </div>
            <div class="col-10  pb-3">
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>

         



            <div class="col-2">
                <label asp-for="EventType" class="control-label"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="EventType" class="form-control">
                    <option disabled selected value="">Choose</option>
                    <option value="Wedding">Wedding</option>
                    <option value="Birthday">Birthday</option>
                    <option value="Party">Party</option>
                </select>
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>



            <div class="col-2">
                <label asp-for="EventDate" class="control-label pt-2" style=" font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>


            
            <div class="col-5 offset-2">
                <a asp-action="IndexEvent" asp-controller="Event" class="btn-primary btn form-control" >Back to List</a>
            </div>
            <div class="col-5 ">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}