@model SSH_FrontEnd.Models.DTOs.EventDTO

<form asp-action="DeleteEvent">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Event</h1>
        <hr />
        <input hidden asp-for="EventId" />
        <div class="row">

            <div class="col-2">
                <label asp-for="EventName" class="control-label pt-2" style=" font-size:20px;"></label>
            </div>
            <div class="col-10  pb-3">
                <input asp-for="EventName" disabled class="form-control"  />
            </div>
            


            <div class="col-2">
                <label asp-for="EventType" class="control-label"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="EventType" class="form-control" disabled />

            </div>


            <div class="col-2">
                <label asp-for="EventDate" class="control-label"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="EventDate" type="datetime-local" class="form-control" disabled/>
            </div>


            
            <div class="col-5 offset-2">
                <a asp-action="IndexEvent" asp-controller="Event" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5 ">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>
