@* _FloristDetailsList.cshtml *@
@model List<SSH_FrontEnd.Models.DTOs.FloristDTO>

<h4>Florists</h4>

@foreach (var florist in Model)
{
    if(florist !=null){
    <div class="card mb-2">
        <div class="card-body">
            <strong>@florist.Name</strong><br />
            <small>@florist.Address</small><br />
            <button class="btn btn-sm btn-secondary mt-1" onclick="bookItem('Florist', @florist.FloristId)">Book</button>
        </div>
        </div>
    }
    else
    {
        <div class="text-muted">No flower arrangment found for this florist.</div>

    }
}
