@model List<SSH_FrontEnd.Models.DTOs.FloristDTO>
@foreach (var florist in Model)
{
    <div>
        <input type="checkbox" name="BookedFloristIds" value="@florist.FloristId" />
        <strong>@florist.Name</strong> - @florist.Email
    </div>
}
