@* _MenuDetailsList.cshtml *@
@model List<SSH_FrontEnd.Models.DTOs.MenuDTO>

<h4>Menus</h4>


@foreach (var menu in Model)
{

    <div class="card mb-2">
        <div class="card-body">
            <strong>@menu.MenuName</strong> - @menu.Price€<br />
            <button class="btn btn-sm btn-success mt-1" onclick="bookItem('Menu', @menu.MenuId)">Book</button>
        </div>
    </div>
}