@model List<SSH_FrontEnd.Models.DTOs.MusicProviderDTO>
@foreach (var music in Model)
{
    <div>
        <input type="checkbox" name="BookedMusicProviderIds" value="@music.MusicProviderId" />
        <strong>@music.Name</strong> - @music.Email
    </div>
}
