@model List<SSH_FrontEnd.Models.DTOs.PastryShopDTO>
@foreach (var shop in Model)
{
    <div>
        <input type="checkbox" name="BookedPastryShopIds" value="@shop.ShopId" />
        <strong>@shop.ShopName</strong> - @shop.PhoneNumber
    </div>
}
