@model List<SSH_FrontEnd.Models.DTOs.VenueProviderDTO>
@foreach (var provider in Model)
{
    <div>
        <input type="checkbox" name="BookedVenueProviderIds" value="@provider.VenueProviderId" />
        <strong>@provider.Name</strong> - @provider.Email
    </div>
}
